<p id="notice"><%= notice %></p>

<p>
  <strong>Appointmentdate:</strong>
  <%= @appointment.appointmentdate %>
</p>

<p>
  <strong>Startime:</strong>
  <%= @appointment.startTime %>
</p>


  <strong>Comment:</strong>
  <%= @appointment.comment %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.name %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor.dname %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
